<h1>Stupid Coaching </h1>

<blockquote>
  <p>
    <% if @question.blank? %>
      🥲
    <% else %>
      <%= @question %>
    <% end %>
  </p>
  <cite>You</cite>
</blockquote>

<blockquote class="coach">
  <p><%= @answer%></p>
  <cite>Your coach</cite>
</blockquote>

<!-- <a href="/ask">Ask a new question</a> -->
<%= link_to "Ask a new question" , ask_path %>
<!-- link_to "WHAT IT SHOULD SAY", WHERE IT SHOULD GO -->
<!-- answer_path ="/answer" -->
